<html>

<head>
    <title> EJS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div class="container p-3 my-3 bg-dark text-white">
            <nav>
                <a href="/" style="color: white;">Home</a>
                <a href="" style="color: white;">Contact</a>
            </nav>
        </div>
    </header>
    <%- body %>
    <br><br>
    <footer>
        <p class="text-center text-muted">© Copyright 2020 The Awesome People</p>
    </footer>
</body>

</html>