<div class="container p-3 my-3 bg-dark text-white">
    <div class="col">
        <p>@copy</p>
    </div>
    <div class="col">
        <nav>
            <a href="/">Home</a>
            <a href="">Contact</a>
        </nav>
    </div>
</div>