<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VITAL partners</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="icon" type="image/png" href="../images/list_style_image.png"/>
</head>
<body>
    <div id="main">
        <header>
            <div id="head">
                <div id="name">
                    <img src="../images/logo.png" alt="logo">
                </div>
                <div id="topright">
                    <div id="call">
                        <form>
                            <label for="search"><i>Call us Today! </i>(02) 9017 8413</label>
                            <input type="text" name="search">
                        </form>
                    </div>
                    <div id = "navbar">
                        <ul>
                            <li><a href="#home" class="active">Home</a></li>
                            <li><a href="#datingblog">Dating Blog</a></li>
                            <li><a href="#help">Who We Help</a></li>
                            <li><a href="#whyvital">Why Vital</a></li>
                            <li><a href="#reviews">Reviews</a></li>
                            <li><a href="#contactus">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div id="section1">
            <div id="download">
                <img src="../images/icon5.png" alt="">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                <span><a href="#download" target="_blank">Download Now</a></span>
                </p>
            </div>
            <div id="btn">
                <a href="#bhtn">
                    <img src="../images/video-play-btn.png" alt="btn">
                </a>
            </div>
            <div id="contacttext">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla quasi sapiente optio modi.</p>
                <a id="contactus1"href="#">Contact Us Now!</a>
            </div>
        </div>
        <div id="aboutus">
            <div id="text">
                <h2>About Us</h2>
                <p style="font-size: x-large;">It is a long establishment fact that a reader will be distracted
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, dolores. Qui deleniti explicabo, accusantium mollitia beatae ullam odio, ut quo magni dolorum id iusto deserunt, eaque maxime quod labore facilis!</p>
                <ul>
                    <li><b>Point number 1</b></li>
                    <li><b>Point number 1</b></li>
                    <li><b>Point number 1</b></li>
                </ul>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio beatae nulla aliquam repudiandae ratione voluptates enim quis rem officia earum asperiores quas placeat minus, ipsam harum hic at debitis praesentium.</p>
                <!-- <a href="#"><img src="/images/contact_us.PNG" alt=""></a> -->
                <br>
                <a id="contactus"href="#">Contact Us Now!</a>
                
            </div>
            <div id="image">
                <img src="../images/aboutus_img.PNG" alt="contact">
            </div>
        </div>
        <div id="section2">
            <div id="text">
                <p id="p1">
                    <b>How Vital Works</b>
                </p>
                <p id="p2">
                    Step, Hop Or Skip Your Wat to Happiness
                </p>
            </div>
            <div id="work">
                <div class="number">
                    <div class="step">
                        STEP
                    </div>
                    <div class="tooltip">
                        <img id="no1" src="../images/no_1.png" alt="no1">  
                        <div id="text1">
                            <p>This is step 1</p>
                        </div>
                    </div>
                </div>
                <div class="line">
                    <img src="../images/dotted-line.png" alt="">
                </div>
                <div class="number">
                    <div class="step">
                        STEP
                    </div>
                    <div class="tooltip">
                        <img id="no1" src="../images/no_2.png" alt="no1">  
                        <div id="text1">
                            <p>This is step 2</p>
                        </div>
                    </div>
                </div>
                <div class="line">
                    <img src="../images/dotted-line.png" alt="">
                </div>
                <div class="number">
                    <div class="step">
                        STEP
                    </div>
                    <div class="tooltip">
                        <img id="no1" src="../images/no_3.png" alt="no1">  
                        <div id="text1">
                            <p>This is step 3</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="section3">
            <p id="textbox"><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum ab optio consectetur corporis nulla laboriosam, asperiores hic, iste incidunt magnam eveniet ex deserunt, magni sequi quaerat. Minima modi voluptates nobis?</b></p>
            <div id="what">
                <img src="../images/icon2.png" alt="what">
                <h2>What is lorem ispsum ?</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime officiis deleniti eaque doloremque eveniet! Debitis, molestiae! Ipsum tempore eaque magni exercitationem modi atque ea corporis. Nulla tenetur voluptatum illum libero?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse praesentium harum error voluptatum non voluptatem, debitis reiciendis repellendus voluptates voluptate eius quis ad fugit alias! Neque iure pariatur debitis magni.</p>
                <!-- <img src="/images/getstarted.PNG" alt="getstart"> -->
                <br>
                <a class="getstarted" href="#">Get Started</a>

            </div>
            <div id="where">
                <img src="../images/icon3.png" alt="">
                <h2>Where does it come ?</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime officiis deleniti eaque doloremque eveniet! Debitis, molestiae! Ipsum tempore eaque magni exercitationem modi atque ea corporis. Nulla tenetur voluptatum illum libero?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse praesentium harum error voluptatum non voluptatem, debitis reiciendis repellendus voluptates voluptate eius quis ad fugit alias! Neque iure pariatur debitis magni.</p>
                <br>
                <a class="getstarted" href="#">Get Started</a>

            </div>
        </div>
        <!-- <div id="section4">
            <img src="../images/hbg7.png" alt="whatclientsay">
        </div> -->
        <div class="slidercontainer">  
            <div class="showSlide fade">
                <div class="section4">
                    <div class="feedback1">
                        <div id="whatclient">
                            <p>What Our Client Say</p>
                        </div>
                        <div class="feedbackimg">
                            <img id="f1" src="../images/aboutus_img.PNG" alt="no1">  
                        </div>
                        <div class="feedbacktext">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel molestias nobis accusantium a iure minus laboriosam inventore voluptate dolorum! Quod sunt aperiam eum odit dolores quae provident ab sapiente similique!</p>
                            <p>-User 1</p>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="showSlide fade">  
                <div class="section4">
                    <div class="feedback1">
                        <div id="whatclient">
                            <p>What Our Client Say</p>
                        </div>
                        <div class="feedbackimg">
                            <img id="f1" src="../images/user1.png" alt="no1">  
                        </div>
                        <div class="feedbacktext">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel molestias nobis accusantium a iure minus laboriosam inventore </p>
                            <p>-User 2</p>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="showSlide fade">
                <div class="section4">
                    <div class="feedback1">
                        <div id="whatclient">
                            <p>What Our Client Say</p>
                        </div>
                        <div class="feedbackimg">
                            <img id="f1" src="../images/user3.png" alt="no1">  
                        </div>
                        <div class="feedbacktext">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel molestias nobis accusantium a iure minus laboriosam inventore voluptate dolorum! Quod sunt aperiam eum odit dolores quae provident ab sapiente similique!</p>
                            <p>-User 3</p>
                        </div>
                    </div>
                </div>
            </div>  
            <!-- Navigation arrows -->  
            <a class="left" onclick="nextSlide(-1)"><img src="../images/prev_btn.png" alt="prev"></a>  
            <a class="right" onclick="nextSlide(1)"><img src="../images/next_btn.png" alt="next"></a>  
        </div>  
        <div id="section5">
            <h1 style="text-indent: 400px;">Our Latest Blog</h1>
            <div class="blog">
                <img src="../images/blog_image_1.jpg"
                alt="blogimg1">
                <p><b>This is Blog 1 created by user1</b></p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ea iste esse numquam voluptates dicta id minus eius? Veritatis illum sequi natus saepe quidem laudantium nobis corporis magni deleniti assumenda.</p>
                <a href="#readmore" target="_blank">Read More</a>
            </div>
            <div class="blog">
                <img src="../images/blog_image_2.jpg"
                alt="blogimg2">
                <p><b>This is Blog 2 created by user2</b></p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ea iste esse numquam voluptates dicta id minus eius? Veritatis illum sequi natus saepe quidem laudantium nobis corporis magni deleniti assumenda.</p>
                <a href="#readmore" target="_blank">Read More</a>
            </div>
            <div class="blog">
                <img src="../images/blog_image_3.jpg"
                alt="blogimg3">
                <p><b>This is Blog 3 created by user3</b></p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ea iste esse numquam voluptates dicta id minus eius? Veritatis illum sequi natus saepe quidem laudantium nobis corporis magni deleniti assumenda.</p>
                <a href="#readmore" target="_blank">Read More</a>
            </div>
        </div>
        <div id="dummy">
            <img src="../images/icon5.png" alt="">
            <p>Simply dummy text of the.
            <span><a href="#download" target="_blank">Download Now</a></span>
            </p>
        </div>
        <div id="section6">
            <div id="div1">
                <img src="../images/foot_logo.png" alt="logo">
                <p><i>Call us Today! </i>(02) 9017 8413</p>
            </div>
            <div id="div2">
                <p class="para">Shortcut your search happiness right now.</p>
                <p class="para">Live a life without regrets and take action today!</p>
                <p>
                <br>
                <a id="appointment" href="#">Book an Appointment</a><a id="consultant" href="#">Contact a Consultant</a>
                </p>
            </div>
            <div id="div3">
                <div class="info" style="margin-left: 180px;">
                    CONTACT INFO
                    <br>
                    <br>
                    <p style="color: darkgray;"><b>4/202 George St, Sydney NSW 2000</b></p>
                    <p>Phone:(02) 90178413</p>
                    <p>Email:info@vitalpartner.com.au</p>
                    <br>
                    <p style="color: darkgray;">Canberra City ACT 2600</p>
                    <p>Phone:(02) 90178413</p>
                    <p>Email:info@vitalpartner.com.au</p>
                </div>
                <div class="info">
                    RECENT  POSTS
                    <ul id="post">
                        <li>How to Recover After Bad Date</li>
                        <li>Review | Vital Partner Review</li>
                        <li>Review | Vital Partner Review</li>
                        <li>Review | Vital Partner Derek and Julie</li>
                        <li>7 Rules for a Happy Relationship | Vital Partner Dating Sydney</li>
                    </ul>
                </div>
                <div class="info">
                    RECENT TWEETS
                    <ul id="tweet">
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed recusandae cumque omnis sunt dolores explicabo.
                        </li>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed recusandae cumque omnis sunt dolores explicabo.</li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <footer>
            <div id="foot">
                <div id="auth">
                    @ VitalPartners.com.au
                </div>
                <div id="link">
                    <ul>
                        <li><a href="#contact">Contact</a></li>
                        <li>|</li>
                        <li><a href="#termofuse">Term of Use</a></li>
                        <li>|</li>
                        <li><a href="#privacy">Privacy Policy</a></li>
                        <li>|</li>
                        <li><a href="#disclaimer">Disclaimer</a></li>
                    </ul>
                </div>
                <div id="follow">
                    <div id="txt">
                        Follow Us:
                    </div>
                    <ul>
                        <li><a href="#facebook"><img src="../images/icon10.png" alt="fb"></a></li>
                        <li><a href="#twitter"><img src="../images/icon11.png" alt="tw"></a></li>
                        <li><a href="#linkdin"><img src="../images/icon12.png" alt="ld"></a></li>
                        <li><a href="#youtube"><img src="../images/icon13.png" alt="yt"></a></li>
                        <li><a href="#google"><img src="../images/icon14.png" alt="gl"></a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
       
    <script src="../scripts/index.js"></script>
</body>
</html>