#main{
    /* border: 2px solid red; */
}
#head{
    /* border: 2px solid red; */
    padding: 10px;
}
#name{
    float: left;
    /* border:  2px solid black; */
    width: 30%;
    padding: 20px 0 0 200px;
}
#topright{
    float: left;
    width: 50%;
    /* border: 2px solid blue; */
}
#call{
    /* border: 2px solid rgb(158, 149, 108); */
    padding: 20px 0 0 150px;

}

input[type=text] {
    width: 200px;
    height: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-image: url(/images/top_search.png);
    background-position: 180px 5px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }
#navbar{
    /* border: 2px solid rgb(255, 149, 108); */
}
#navbar li
#navbar ul{
    list-style-type: none;
    margin-left: 600px;
    padding: 0;
}
#navbar li{
    padding: 10px;
    display: inline;
    text-decoration: none;
}
#navbar li a.active {
    color: green;
  }
#navbar li a:hover{
    color: green;
} 

#section1{
    width: 100%;
    /* height: 600px; */
    display: inline-block;
    /* border: 2px solid black; */
    /* background-image: url(/images/hbg3.png); */
    /* background-attachment: fixed; */
}
#section1 img{
    width: 100%;
}
#aboutus{
    width: 100%;
    /* border: 2px solid yellow; */
}
#text{
    float: left;
    /* border: 2px solid black; */
    width: 30%;
    padding-left: 140px;
    padding-right: 120px;
    padding-bottom: 20px;
}
#image{
    float: left;
    /* border: 2px solid black; */
    width: 40%;
    padding: 25px;
}
#text ul{
    list-style-image: url(/images/arrow1.png);
    padding-left:25px;
    margin: 0;
}
#aboutus a{
    color:white;
    text-decoration: none;
    border-radius: 8px;
    padding: 15px 50px;
    background-color: #669900;
}
#aboutus a:hover{
    background-color: #334d00;
}
#aboutus #contactus{
    background-image: url(/images/icon1.png);
    background-repeat: no-repeat;
    background-position: 170px 15px;
}
#section2{
    width: 100%;
    display: inline-block;
    /* border: 2px solid blue; */
}

#section2 img{
    width: 100%;
}
#section3{
    width: 100%;
    /* height: 500px; */
    display: inline-block;
    /* border: 2px solid yellow; */
    /* text-align: center; */
    background-image: url(/images/inner_page_banner/who_we_help.jpg);
    background-repeat: repeat-y;
}
#textbox{
    padding: 0px 150px;
    font-size: large;
}
#what{
    /* border: 2px solid green; */
    float: left;
    width: 30%;
    margin-left: 200px;
    margin-bottom: 50px;
    background-color: rgba(255,255,255,0.9);
    text-align: center;
    padding: 20px;
}
#section3 a{
    color:white;
    text-decoration: none;
    border-radius: 8px;
    padding: 15px 50px;
    background-color: #669900;
}
#section3 a:hover{
    background-color: #334d00;
}
.getstarted{
    background-image: url(/images/icon4.png);
    background-repeat: no-repeat;
    background-position: 135px 18px;
}
#where{
    /* border: 2px solid black; */
    float: left;
    width: 30%;
    margin-left: 50px;
    margin-bottom: 50px;
    background-color: rgba(255,255,255,0.9);
    text-align: center;
    padding: 20px;
}
#section4{
    width: 100%;
    /* height: 600px; */
    display: inline-block;
    /* border: 2px solid black; */
    /* background-image: url(/images/hbg3.png); */
    /* background-attachment: fixed; */
}
#section4 img{
    width: 100%;
}
#section5{
    /* width: 100%; */
    display: inline-block;
    /* border: 2px solid yellow; */
    padding-left: 150px;
    padding-bottom: 50px;
}
#section5 .blog{
    float: left;
    width: 25%;
    /* border: 2px solid blue; */
    margin-left: 20px;
    padding: 10px;
    text-align: center;
}
.blog img{
    width: 250px;
}
.blog a{
    margin-left: -150px;
    padding: 8px 25px;
    text-decoration: none;
    border: 2px solid green;
    border-radius: 8px;
    color: green;
}
.blog a:hover{
    background-color: green;
    color: white;
}
#dummy{
    display: inline-block;
    width: 100%;
    /* border: 2px solid blueviolet; */
    /* padding-left: 450px; */
    background-color: gray;
    padding:5px 0;
}
#dummy img{
    margin-left: 450px;
    float: left;
}
#dummy p{
    color: white;
    font-size: x-large;
}
#dummy span{
    margin-left: 70px;
    font-size: initial;
}
#dummy a{
    color:white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 8px;
    padding: 5px 15px;
}
#dummy a:hover{
    background-color: darkslategrey;
}
#section6{
    width: 100%;
    display: inline-block;
    /* border: 2px solid yellow; */
    background-color: #404040;
    padding:40px 0px;
}
#section6 #div1{
    width: 30%;
    /* border: 2px solid green; */
    float: left;
    margin-left: 200px;

}
#div1 p{
    color: white;
    font-size: xx-large;
    margin-top: 10px;
}
#section6 #div2{
    width: 40%;
    /* border: 2px solid blue; */
    float: left;
    text-align: center;
    padding-bottom: 50px;
}
#div2 .para{
    margin: 0;
    color: white;
    font-size: x-large;
}
#div2 a{
    margin-left: 50px;
    color:white;
    text-decoration: none;
    border-radius: 8px;
    padding: 15px 30px;
    background-color: #669900;
}
#div2 a:hover{
    background-color: #334d00;
}
#div2 #appointment{
    background-image: url(/images/icon7.png);
    background-repeat: no-repeat;
    background-position: 180px 15px;
}
#div2 #consultant{
    background-image: url(/images/icon6.png);
    background-repeat: no-repeat;
    background-position: 170px 15px;
}
#section6 #div3{
    display: inline-block;
    width: 100%;
    /* border: 2px solid black; */
    padding-top: 20px;
}
#div3 .info{
    float: left;
    width: 20%;
    /* border: 2px solid blue; */
    margin-left: 50px;
    padding: 10px;
    color: white;
}
.info p{
    color: gray;
    margin: 0;
}
#div3 #post{
    color: gray;
    list-style-image: url(/images/icon4.png);
    padding-left:15px;
    margin: 20px 0;
}
#div3 #post li{
    margin-top: 5px;
}
#div3 #tweet{
    color: gray;
    list-style-image: url(/images/icon9.png);
    padding-left:30px;
}
#div3 #tweet li{
    margin-bottom: 20px;
}

#foot{
    width: 100%;
    display: inline-block;
    /* border: 2px solid blue; */
    background-color: #202020;
    color: gray;
}
#foot #auth{
    margin-left: 100px;
    float: left;
    width: 20%;
    /* border: 2px solid green; */
    text-align: center;
    margin-top: 15px;
}
#foot #link{
    float: left;
    width: 40%;
    /* border: 2px solid green; */
    color: gray;

}
#link li{
    display: inline;
    margin-right: 10px;
}
#link li a{
    color: gray;
    text-decoration: none;
}
#link li a:hover{
    color: white;
}

#foot #follow{
    float: left;
    width: 30%;
    /* border: 2px solid green; */
}
#follow li{
    display: inline;
    margin-left: 0px;
}
#txt
{
    float: left;
    width: 25%;
    /* border: 2px solid green; */
    margin-top: 20px;
    text-align: right;
}
